.container {
  display: flex;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  column-gap: 0.1rem;
  width: 20%;
  padding: 1rem;
  border-right: 1px solid #CCCCCC;
}

.content {
  width: 80%;
  padding: 1rem;
}