.container {
  min-height: 100vh;
  background-color: var(--system-background-attention);

  &::before {
    content: "";
    position: fixed;
    block-size: 100%;
    inline-size: 100%;
    inset: 0;
    transform: scale(2);
    z-index: -1;
    background: url("https://fluent-svelte.vercel.app/bloom-mica-dark.png") 50% / cover no-repeat fixed;
  }
}