.collapsible {
  width: 200px;
}

.collapsibleTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6px;
  border: 1px solid hsl(240 5% 84%);
}

.collapsibleContent {
  width: 100%;
  border: 1px solid hsl(240 5% 84%);
  border-top: none;
  color: hsl(190, 12%, 90%);
  padding: 8px;
}
