@layer reset, base, stylex;

@layer stylex {
	@stylex stylesheet;
}

@layer base {
	body {
		font-family: "Segoe UI Variable Text", "Seoge UI Variable Static Text",
			sans-serif;
		-webkit-font-smoothing: antialiased;
	}
}

@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}
}
